body {
	margin:0px;
}

.head {
	position: relative;
	top: 0%;
	height: 60px;
	background-color: white;
}

.russian_flag {
	position: absolute;
	right: 100px;
	top: 5px;
	height: 50px;
}

.armenian_flag {
	position: absolute;
	right: 40px;
	top: 5px;
	height: 50px;
}

.aygedzor {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #77b1a3;
	margin-left: 20px;
}

.menu {
	position: fixed;
	background-color: #5fa292;
	padding: 20px;
	z-index: 1;
	width: 100%;
	transition: 0.2s ease;
}

a {
	position: relative;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
}

.img_aygedzor {
	position: relative;
	width: 100%;
}

.about {
	position: absolute;
	top: 250px;	
	font-family: Didot, serif;
	font-size: 50px;
	color: white;
	margin-top: 25px;
	margin-left: 20px;
}

.footer {
	background-color: #77b1a3;
	height: 150px;
	width: 100%;
	margin-top: -25px;
	position: relative;
}

.realswb {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-top: 100px;
	margin-left: 20px;
	color: white;
}

.menu a {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left: 50px;
	color: white;
	font-size: 20px;
}

.scrolimg {
	width: 70px;
	height: 70px;
	cursor: pointer;
}

.scrollup {
	bottom: 4%;
	display: none; 
	opacity: 0;
	position: fixed;
	transition: 0.5s ease;
	z-index: 2;	
	right: 3%;
}
