body{
	margin:0px;
}

.heading{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#77b1a3;
	margin-left:20px;
}

.head {
	position: relative;
	top: 0%;
	height: 60px;
	background-color: white;
}

.usa_flag{
	position: absolute;
	right: 40px;
	top: 5px;
	width: 50px;
}

.russian_flag {
	position: absolute;
	right: 100px;
	top: 5px;
	height: 50px;
}

.page_section{
	background-color:#5fa292;
	padding:20px;
}

.page_section a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-left:50px;
	color:white;
	font-size:20px;
}

.menu_bar{
	background-color:#64c9b1;
	padding:15px;
}

.menu_bar a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-left:30px;
	color:white;
	font-size:20px;
	text-decoration:none;
}

.main_page{
	text-decoration:none;
}

.nature img{
	width:500px;
	margin:50px;
}

.first_paragraph{
	background-color: rgb(212, 240, 240);
	font-weight:200;
	font-size:18px;
	width:500px;
	position:absolute;
	line-height: 150%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	left:50%;
	top:115%;
}

.second_paragraph{
	background-color: rgb(212, 240, 240);
	position:absolute;
	top:187%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	line-height: 150%;
	font-weight:200;
	font-size:18px;
	width:93%;
	margin-left:3%;
	margin-bottom:3%;
}

.footer{
	margin-top:200px;
	background-color:#77b1a3;
	padding:30px;
	color:white;
	font-size:20px;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #5d9184;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #456d63;
  }