body{
	margin:0px;
}

.heading{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#77b1a3;
	margin-left:20px;
}

.head {
	position: relative;
	top: 0%;
	height: 60px;
	background-color: white;
}

.usa_flag{
	position: absolute;
	right: 40px;
	top: 5px;
	width: 50px;
}

.russian_flag {
	position: absolute;
	right: 100px;
	top: 5px;
	height: 50px;
}

.page_section{
	background-color:#5fa292;
	padding:20px;
}

.page_section a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-left:50px;
	color:white;
	font-size:20px;
}

.menu_bar{
	background-color: #64c9b1;
	padding:15px;
}

.menu_bar a{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left:30px;
	color:white;
	font-size:20px;
	text-decoration:none;
}

.main_page{
	text-decoration:none;
}

.places img{
	margin:50px;
}

h2 {
	position: absolute;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 28px;
	color: #4d8376;
	text-align: center;
	left: 50%;
	top: 33%;
}

.main_paragraph{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:20px;
	font-family:sans-serif;
	font-weight:200;
	width:65%;
	position:absolute;
	left:30%;
	top:43%;
}

.footer{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding:30px;
	background-color:#77b1a3;
	color:white;
	font-size:20px;
}

.scrolimg {
	width: 70px;
	height: 70px;
	cursor: pointer;
}

.scrollup {
	bottom: 4%;
	display: none; 
	opacity: 0;
	position: fixed;
	transition: 0.5s ease;
	z-index: 2;	
	right: 3%;
}